.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formWrapper form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 8px;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  margin-bottom: 4px;
  font-weight: 500;
}

.inputGroup input {
  padding: 8px;
  height: 30px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
  transition: border-color 0.5s;
}

.inputGroup input.inputError {
  border-color: #e53935;
}

.errorMessage {
  height: 0;
  opacity: 0;
  margin: 0 0;
  color: #e53935;
  font-size: 14px;
  overflow: hidden;
  transition: 
    height 0.3s ease-in-out, 
    opacity 0.3s ease-in-out, 
    margin 0.3s ease-in-out;
}

.errorMessageVisible {
  height: auto;
  opacity: 1;
  margin: 4px 0px;
}

.submitButton {
  padding: 12px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  width: 125px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submitButton:hover {
  background-color: #1565c0;
}

.switchLink {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.switchLink span {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
}